{% extends "layout.html" %}
{% block body %}
<form action="/" method=post enctype=multipart/form-data class=add-entry>
  <p>
    <label for="infile">
      <span>Markdown file: </span>
      <input type=file name='infile' id='infile'>
    </label>
  </p>

  <p>
    <label for="date">
      <span>Date: </span>
      <input type='date' name='date' id='date' value='{{ today }}'>
    </label>
  </p>

  <p>
    <label for="doc_type">
      <span>Document type: </span>
      <input type=text size=30 name='doc_type' id='doc_type'>
    </label>
  </p>

  <p>
    <input type=submit value="Convert to PDF">
  </p>
</form>
{% endblock %}
